# ##############################################################################
# Open-Guard .gitignore
# ##############################################################################

# ------------------------------------------------------------------------------
# Environment/Secrets
# ------------------------------------------------------------------------------
.env
.env.*
!.env.example

# ------------------------------------------------------------------------------
# Binaries and Build Artifacts
# ------------------------------------------------------------------------------
bin/
dist/
build/
out/
.next/
node_modules/

# ------------------------------------------------------------------------------
# Go
# ------------------------------------------------------------------------------
# Compiled binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage output
*.test
*.out
*.cover
*.prof

# Workspace (local files)
# go.work
# go.work.sum

# ------------------------------------------------------------------------------
# Node/Javascript (Next.js)
# ------------------------------------------------------------------------------
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ------------------------------------------------------------------------------
# IDE / Editors / OS
# ------------------------------------------------------------------------------
# VS Code
.vscode/

# JetBrains (IntelliJ, GoLand, WebStorm)
.idea/

# OS/System
.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------
# Infra/Docker/Local Data
# ------------------------------------------------------------------------------
# Local database data (if maped to volumes)
postgres_data/
kafka_data/
redis_data/
*.db
*.sqlite
