-----BEGIN CERTIFICATE-----
MIIEdDCCAlygAwIBAgIJALO85cpqT+ddMA0GCSqGSIb3DQEBCwUAMGsxCzAJBgNV
BAYTAlVTMQ4wDAYDVQQIDAVTdGF0ZTENMAsGA1UEBwwEQ2l0eTESMBAGA1UECgwJ
T3Blbkd1YXJkMQ0wCwYDVQQLDARSb290MRowGAYDVQQDDBFPcGVuR3VhcmQtUm9v
dC1DQTAeFw0yNjAzMjAwMjQ0MjVaFw0yNzAzMjAwMjQ0MjVaMGUxCzAJBgNVBAYT
AlVTMQ4wDAYDVQQIDAVTdGF0ZTENMAsGA1UEBwwEQ2l0eTESMBAGA1UECgwJT3Bl
bkd1YXJkMREwDwYDVQQLDAhTZXJ2aWNlczEQMA4GA1UEAwwHZ2F0ZXdheTCCASIw
DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALZOEuzqdROaSYTAj2F1rxFLb17n
h6IkkATQaI+UjlJY5EFb7FBV5aI2wLDm6y//taU9R5D+hjyns0Jvo5qn4LJTAHmK
YAe8W6YFVCTrblknB6+tVO7uY0bjAo4UZ80nqzVYbGhwsSE+EyNo/Gwe+sclyPMC
NDqH+GT/NKH4hsb3UTNZFRKwm+Oy+ISMwey7bayFN1960+DiKYt3ma/V5xEwespl
SK30Waj6z4nOyQHC7oA2dHByOGE70dh+B/QNrFiX6MwxBWMFysfEqWhFFq+uNOOi
uq5j9Sy2auFJyrmG/b7cvXa3OKYNw75ziqwkIXbauAElUDSeI6+WhtwoywcCAwEA
AaMhMB8wHQYDVR0RBBYwFIIHZ2F0ZXdheYIJbG9jYWxob3N0MA0GCSqGSIb3DQEB
CwUAA4ICAQAhiVTo2bsHlwBnEyg8WVD1Wjuu0sh/qnYDwE0rQ2tTNT3+kmL4ocPz
cniudooWrtZpzmRUI/4ok5QcNC/CjYNcYDVr+AXPJ61Fg95lV+ckmm3oXtuRIqno
ZB/K8wkr/lasJnLeeXxeObIhi4J4eVM3xhEj6tjzy/aNMLTgUtXl/J/9wWPlh1ye
jHviTD/ghQM1VyQNBLGG9PwjJR70PtVaKqEl5teGeXYCbS60FFiTWzUPVtMGDOhm
7MwWKpXOuh8t7pHIBmqP1SiJ33L/rpTAQ5K9yAu2E0Q6CxyUBZMmqfCzm348EELg
AgeS0hzL44d7pkn/BcSOErQzTLU+arEyZKQuI8YhRIeHARDr3dyVcbxK22+U2klD
MpFtGyH0EBPQR8TgJOgor/Gb1t1FISDaOoCVy/6qZhzYFwqpCu6mtKmSy1vkM2Qa
dXQgdWlWePWqi12OKQOw5Xm/HXGn8HLqVGbMcPZQ7ekAnaNAlxNWAwFlm3r5Guuj
MOz4/Y0w+raBOUb9MToSOmH/3T7030PB3xIwwOsEjsosF8nNh9UtXDu4VuyVB0h9
z88F5WmFd32s8AZyvqT2UNw7GPzS8ai4XFoXJoatGliMdEDblePZNOj2zdkNZa9E
Y0HBlN8h7wCjspIS79QMDrEVP+VU9dEC07YLbUa3EpUHYyRbFNqk0g==
-----END CERTIFICATE-----
